.App {
  text-align: center;
}




.App-link {
  color: #61dafb;
}

.magicpattern { 
  width: 100%;
  /* height: 100%; */
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%221.4%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h167v167H0zM334 0h167v167H334zM501 0h167v167H501zM835 0h167v167H835zM1169 0h167v167h-167zM1670 0h167v167h-167zM1837 0h167v167h-167zM0 167h167v167H0zM167 167h167v167H167zM334 167h167v167H334zM501 167h167v167H501zM668 167h167v167H668zM835 167h167v167H835zM1002 167h167v167h-167zM1169 167h167v167h-167zM1336 167h167v167h-167zM0 334h167v167H0zM167 334h167v167H167zM334 334h167v167H334zM501 334h167v167H501zM668 334h167v167H668zM835 334h167v167H835zM1169 334h167v167h-167zM1336 334h167v167h-167zM1503 334h167v167h-167zM1670 334h167v167h-167zM1837 334h167v167h-167zM0 501h167v167H0zM167 501h167v167H167zM334 501h167v167H334zM501 501h167v167H501zM668 501h167v167H668zM835 501h167v167H835zM1002 501h167v167h-167zM1169 501h167v167h-167zM1336 501h167v167h-167zM1670 501h167v167h-167zM1837 501h167v167h-167zM0 668h167v167H0zM167 668h167v167H167zM334 668h167v167H334zM501 668h167v167H501zM668 668h167v167H668zM835 668h167v167H835zM1002 668h167v167h-167zM1169 668h167v167h-167zM1336 668h167v167h-167zM1503 668h167v167h-167zM1837 668h167v167h-167zM334 835h167v167H334zM501 835h167v167H501zM668 835h167v167H668zM835 835h167v167H835zM1002 835h167v167h-167zM1169 835h167v167h-167zM1336 835h167v167h-167zM1503 835h167v167h-167zM1837 835h167v167h-167z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
